data/*
src/pulser/python/.venv/
src/pulser/python/generated/
src/pulser/python/__pycache__/
src/pulser/python/.ipynb_checkpoints/
src/mtdr/python/.venv/
src/mtdr/python/generated/
src/mtdr/python/__pycache__/
src/mtdr/python/.ipynb_checkpoints/
src/mtdr/python/docs/build/
